# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# Android
local.properties
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# iOS
iosApp/build/
*.xcuserstate
xcuserdata/

# Secrets
*.keystore
*.jks
